/* Enter your custom styles here */

.textSizeClass1st {
	font-weight: bold;
	font-size: 20px;
   }
   
.textSizeClass2nd {
	font-size: 15px;
}

/*.btnNewItem {*/
/*	border : 0;*/
/*	outline : none;*/
/*}*/